<section>
  <h6 (click)="showToggle()">{{id}}. {{ytsong.name}}</h6>
  <button (click)="play(ytsong)">Play</button>
  <ng-container *ngIf="isDisplayed">
    <strong>{{"Owner:" + ytsong.owner}}<br /></strong>
    <img [src]="ytsong.thumbnail" /><br />
    <strong>{{"Views:" + ytsong.views}}<br /></strong>
    <strong>{{"Likes:" + ytsong.likes}}<br /></strong>
    <strong>{{"Dislikes:" + ytsong.dislikes}}<br /></strong>
  </ng-container>
</section>