<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p>
    <label>{{loginType}}:</label>
    <input type="text" formControlName="login" required />
  </p>
  <p>
    <label>Password:</label>
    <input type="password" formControlName="password" required />
  </p>
  <p>
    <label><input type="checkbox" formControlName="remember" /> Remember me?</label>
  </p>
  <p>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </p>
</form>