:host {
    section{
        max-width: 1280px;
        margin: 0px auto;
        clear: both;
    }
    main{
        float:left;
        width: 560px;
        min-height: 560px;
        iframe{
            height: 315px;
            position: fixed;
            top:0;
            left:0;
        }
    }
    aside{
        float:left;
        width: 30%;
    }
}