<section>
  <main>
    <iframe *ngIf="currentSong != null" width="560" height="315" [src]="currentSong.video" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </main>
  <aside>
    <h1>{{sectionTitle}}</h1>
    <p><strong>Total Songs:{{totalSongs}}</strong></p>
    Search: <input #searchInput (input)="searchSong(searchInput.value)" />
    <p *ngIf="searchInput.value.length > 0">You are finding : {{searchInput.value}}</p>
    <app-ytsong-item *ngFor="let ytsong of ytsongs; let i=index" [ytsong]="ytsong" (playSong)="playSong($event)">
    </app-ytsong-item>
  </aside>
</section>