<section>
    <h1>Login</h1>
    <div class="notification">
        <p>{{notification || "This is default notification text"}}</p>
    </div>
    <p>Reactive Form Sample</p>
    <button (click)="switchLoginType()">{{convertLoginType()}}</button>
    <app-form-login loginType={{convertLoginType()}} (doLogin)="onDoLogin($event)"></app-form-login>
    <!-- <p>
        Watches changes:<br />
        {{loginForm.value | json}}
    </p> -->
    <!-- <p>
    Watches changes:<br />
    Email : {{email.value}}<br />
    Password: {{password.value}}<br />
    Remember: {{remember.value}}<br />
</p> -->
</section>